.pay-container {
    padding: 10px 30px;

    .title-back {
        font-size: 20px;
        margin-bottom: 20px;

        .go-back {
            text-decoration: none;

            .icon {
                color: var(--primary);
                margin-right: 5px;
                filter: drop-shadow(0 0 2px rgb(255, 0, 0));
            }
        }
    }

    .info-card {
        display: flex;
        column-gap: 15px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(128, 128, 128, 0.7);
        padding: 10px;
        border-radius: 10px;
        margin-bottom: 20px;

        .image {
            height: 100px;
            width: 30%;
            object-fit: cover;
            border-radius: 10px;
        }

        .data {
            display: flex;
            flex-direction: column;
            row-gap: 60%;
            font-size: 17px;
            font-weight: 500;
            width: 70%;

            .pizza-name {
                position: relative;

                .remove-item {
                    background-color: transparent;
                    border: none;
                    font-size: 20px;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-35%);
                    color: var(--primary);
                    filter: drop-shadow(0 0 1px var(--primary));
                    right: 2%;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }

            .info {
                display: flex;
                column-gap: 60%;
                font-weight: 700;

                .amount {
                    text-align: end;
                    width: 100%;
                }
            }
        }
    }

    .pay-form {
        .form {
            input {
                background-color: var(--primary);
                border: none;
                width: 100%;
                height: 55px;
                color: white;
                border-radius: 5px;
                filter: drop-shadow(0 2px 4px var(--primary));
                transition: all .2s ease;
                margin-top: 10px;

                &:hover {
                    filter: drop-shadow(0 2px 6px var(--primary));
                    transition: all .2s ease;
                    cursor: pointer;
                }
            }

            input::before {
                content: "Pagar Ahora";
            }
        }

        .title {
            font-size: 18px;
            margin-bottom: 15px;
        }

        .each-inp {
            display: flex;
            flex-direction: column;
            margin-bottom: 15px;


            label {
                font-weight: 500;
                font-size: 14px;
                margin-bottom: 5px;
            }

            input:focus-visible {
                outline: none;
            }

            input {
                padding: 15px;
                font-size: 18px;
                height: 50px;
                border: none;
                background-color: #fff;
                color: #404040;
                border-radius: 0;
                filter: none;
                margin-top: 0;

                &:hover {
                    filter: none;
                    transition: none;
                    cursor: auto;
                }
            }

            span {
                margin-bottom: 10px;
                font-size: 15px;
                color: rgba(245, 23, 23, 0.769);
            }
        }

        .no-pizzas {
            text-align: center;
            box-shadow: 0px 12px 20px -20px #000000a5;
        }

        .double {
            display: flex;
            column-gap: 4%;

            .each-inp {
                label {
                    width: 100%;
                }

                input {
                    width: 100%;
                }
            }
        }
    }

    .payment-succ {
        padding-top: 40%;
        box-sizing: border-box;
        position: relative;
        height: 95vh;

        h5 {
            width: 100%;
            text-align: center;
        }

        p {
            width: 100%;
            font-weight: 500;
            text-align: center;
            font-size: 15px;
            color: gray;
        }

        .accept-btn {
            position: absolute;
            background-color: var(--primary);
            border: none;
            width: 100%;
            height: 55px;
            border-radius: 5px;
            filter: drop-shadow(0 2px 4px var(--primary));
            transition: all .2s ease;
            margin-top: 10px;
            bottom: 0%;

            a {
                color: white;
                text-decoration: none;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
            }

            &:hover {
                cursor: pointer;
            }
        }

        .lf-player-container {
            margin-bottom: 20px;

            #lottie {
                width: 100% !important;
                height: 100% !important;
            }
        }
    }
}